In [9]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [10]:
display(melb_data.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [11]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [12]:
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [13]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [14]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [15]:
melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [16]:
melb_data['Regionname'].value_counts(normalize=True)

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [18]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [19]:
print(melb_data['Price'].mean())

1075684.079455081

In [20]:
print(melb_data['Car'].max())

10

In [21]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

In [22]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [23]:
print(melb_data['Regionname'].mode())

0    Southern Metropolitan
Name: Regionname, dtype: object

In [35]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

In [26]:
s_median = melb_data['BuildingArea'].median() 
s_mean =  melb_data['BuildingArea'].mean()
print(abs(s_median - s_mean)/s_mean)

0.09764079662364533

In [30]:
g=pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
print(g.mode())
print(g)

   0
0  2
   0
0  1
1  2
2  4
3  2
4  3
5  2
6  1
7  5
8  6

In [36]:
melb_data[melb_data['Type'] == 't']['Rooms'].max()

5

In [37]:
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

126.0

In [44]:
print(melb_data[melb_data['Bathroom']== 0])

       index           Suburb            Address  Rooms Type      Price  \
139      139       Alphington        6 Naroon Rd      3    h  1485000.0
281      281         Armadale    3/50 Denbigh Rd      2    u   546000.0
505      505        Balaclava     5/11 Albion St      2    u   497500.0
584      584           Balwyn     5 Shrimpton Ct      2    h  1010000.0
913      913   Bentleigh East    579 Warrigal Rd      3    h   700000.0
1063    1063         Brighton          17 New St      3    h  1900000.0
1070    1070         Brighton        1/5 Webb St      3    t  1067000.0
1593    1593       Camberwell   5 Nicholsdale Rd      4    h  1400000.0
2253    2253      Elsternwick    5/29 Nepean Hwy      2    u   410000.0
2777    2777        Glen Iris         25 Hope St      2    h   845000.0
2797    2797        Glen Iris        130 High St      4    h  1550000.0
2808    2808        Glen Iris    1/64 Edgar St N      2    u   545000.0
3390    3390          Ivanhoe  5/125 Locksley Rd      2    u   460000.0
3556    3556       Kensington      7/51 Epsom Rd      2    u   526000.0
3787    3787          Malvern       42 Cressy St      2    h   780000.0
4880    4880          Preston       19 Malpas St      4    h  1004000.0
5535    5535  South Melbourne          3 Park Pl      1    u   760500.0
5642    5642      South Yarra   82/390 Toorak Rd      3    u  1072000.0
5711    5711      South Yarra     2/28 Tivoli Pl      2    u   910000.0
6392    6392           Toorak   1/183 Kooyong Rd      2    u   857000.0
6406    6406           Toorak   6/183 Kooyong Rd      2    u   866000.0
6651    6651       Yarraville    1/53 Stephen St      2    u   410000.0
6671    6671       Yarraville     1a Kingston St      2    h   610000.0
6856    6856   East Melbourne     37/22 Agnes St      2    u   740000.0
6866    6866   East Melbourne    9/35 Powlett St      2    u   872000.0
6938    6938          Fawkner      1/66 Lorne St      3    u   470000.0
7494    7494     Balwyn North   215 Doncaster Rd      3    h  1670000.0
8010    8010          Ivanhoe     1/53 Norman St      3    t  1060000.0
8271    8271          Preston       86 Malpas St      3    h  1010000.0
9090    9090   Caulfield East     5/33 Grange Rd      2    u   350000.0
9917    9917         Hawthorn     1/30 Lisson Gr      2    h  1480000.0
10795  10795          Preston     24 Mitchell St      3    h  1150000.0
10895  10895        Balaclava    9/36 The Avenue      2    u   700000.0
11204  11204        St Albans       148 Power St      3    h   702000.0

      Method        SellerG        Date  Distance  ...  Car  Landsize  \
139       SP        McGrath  28/08/2016       6.4  ...    0     597.0
281       SP  hockingstuart  30/07/2016       6.3  ...    0       0.0
505       PI  hockingstuart  28/08/2016       6.6  ...    0       0.0
584       PI       Marshall  30/07/2016       9.7  ...    0    1611.0
913        S        Thomson  22/05/2016      13.9  ...    0     456.0
1063       S       Marshall   6/08/2016      11.2  ...    0       0.0
1070       S            Kay   7/05/2016      11.2  ...    1       0.0
1593      PI         Jellis  16/04/2016       7.8  ...    0     693.0
2253      VB           Gary  28/05/2016       8.5  ...    0       0.0
2777       S           Noel  10/09/2016       9.2  ...    0     207.0
2797      PI         Jellis  14/05/2016       9.2  ...    0     769.0
2808       S      Fletchers  16/07/2016       9.2  ...    0       0.0
3390      VB      Fletchers  16/04/2016       7.9  ...    0       0.0
3556       S         Nelson  22/08/2016       4.2  ...    0       0.0
3787      VB         Jellis  14/05/2016       7.4  ...    0       0.0
4880       S         Nelson   3/09/2016       8.8  ...    0     650.0
5535       S       Marshall   4/06/2016       2.1  ...    0     438.0
5642       S            Kay  13/08/2016       3.3  ...    0       0.0
5711       S       Williams  28/08/2016       3.3  ...    0       0.0
6392       S          Walsh  22/08/2016       4.6  ...    0       0.0
6406       S       Marshall  30/07/2016       4.6  ...    0       0.0
6651      PI  hockingstuart   6/08/2016       7.0  ...    0       0.0
6671      SP            Jas  15/10/2016       7.0  ...    0      94.0
6856      SP       Woodards   8/10/2016       1.5  ...    0       0.0
6866       S         Dingle  28/05/2016       1.5  ...    0       0.0
6938      SP           Brad  26/07/2016      12.4  ...    0     261.0
7494       S  hockingstuart  29/04/2017       9.2  ...    0     818.0
8010       S   Purplebricks  29/04/2017       7.9  ...    0     219.0
8271      SP        McGrath  20/05/2017       8.8  ...    0     533.0
9090      SP           Gary   3/06/2017       8.4  ...    0       0.0
9917       S       Marshall  24/06/2017       5.3  ...    0     241.0
10795     SP        McGrath   8/07/2017       8.4  ...    0     502.0
10895     SP       Marshall  12/08/2017       6.4  ...    0       0.0
11204     SP        Sweeney  12/08/2017      14.0  ...    0     600.0

       BuildingArea  YearBuilt   CouncilArea  Lattitude  Longtitude  \
139           126.0       1970       Darebin  -37.77810   145.02840
281           126.0       1970   Stonnington  -37.85680   145.01610
505           126.0       1970  Port Phillip  -37.87390   144.99290
584           126.0       1970    Boroondara  -37.80920   145.10160
913           126.0       1970     Glen Eira  -37.93140   145.08080
1063          126.0       1970       Bayside  -37.93010   144.99350
1070          126.0       1970       Bayside  -37.91190   144.98710
1593          126.0       1935    Boroondara  -37.83600   145.09140
2253          126.0       1970     Glen Eira  -37.88630   144.99960
2777          126.0       1970   Stonnington  -37.86300   145.05010
2797          126.0       1970    Boroondara  -37.86280   145.07340
2808          126.0       1970   Stonnington  -37.85000   145.04650
3390          126.0       1970       Banyule  -37.76620   145.05160
3556          126.0       1970     Melbourne  -37.79190   144.92530
3787          126.0       1970   Stonnington  -37.85020   145.04180
4880          126.0       1970       Darebin  -37.73460   145.02260
5535          126.0       1970  Port Phillip  -37.83530   144.96000
5642          126.0       1970   Stonnington  -37.84070   145.00430
5711          126.0       1970     Melbourne  -37.83570   144.98590
6392          126.0       1970   Stonnington  -37.84580   145.02210
6406          126.0       1970   Stonnington  -37.84580   145.02210
6651          126.0       1970   Maribyrnong  -37.81290   144.89520
6671          126.0       1970   Maribyrnong  -37.81500   144.88270
6856          126.0       1970     Melbourne  -37.81770   144.98010
6866          126.0       1970     Melbourne  -37.81540   144.98510
6938          126.0       1970      Moreland  -37.71580   144.97220
7494          126.0       1970    Boroondara  -37.79390   145.08660
8010          126.0       1980       Banyule  -37.76790   145.04660
8271          126.0       1970       Darebin  -37.73360   145.01680
9090          126.0       1970     Glen Eira  -37.88385   145.04785
9917          126.0       1970    Boroondara  -37.82679   145.03021
10795         126.0       1970       Darebin  -37.74936   144.98949
10895         126.0       1970  Port Phillip  -37.87149   144.99746
11204         126.0       1970      Brimbank  -37.72945   144.79592

                  Regionname  Propertycount           Coordinates
139    Northern Metropolitan           2211    -37.7781, 145.0284
281    Southern Metropolitan           4836    -37.8568, 145.0161
505    Southern Metropolitan           2952    -37.8739, 144.9929
584    Southern Metropolitan           5682    -37.8092, 145.1016
913    Southern Metropolitan          10969    -37.9314, 145.0808
1063   Southern Metropolitan          10579    -37.9301, 144.9935
1070   Southern Metropolitan          10579    -37.9119, 144.9871
1593   Southern Metropolitan           8920     -37.836, 145.0914
2253   Southern Metropolitan           4898    -37.8863, 144.9996
2777   Southern Metropolitan          10412     -37.863, 145.0501
2797   Southern Metropolitan          10412    -37.8628, 145.0734
2808   Southern Metropolitan          10412      -37.85, 145.0465
3390    Eastern Metropolitan           5549    -37.7662, 145.0516
3556   Northern Metropolitan           5263    -37.7919, 144.9253
3787   Southern Metropolitan           4675    -37.8502, 145.0418
4880   Northern Metropolitan          14577    -37.7346, 145.0226
5535   Southern Metropolitan           5943      -37.8353, 144.96
5642   Southern Metropolitan          14887    -37.8407, 145.0043
5711   Southern Metropolitan          14887    -37.8357, 144.9859
6392   Southern Metropolitan           7217    -37.8458, 145.0221
6406   Southern Metropolitan           7217    -37.8458, 145.0221
6651    Western Metropolitan           6543    -37.8129, 144.8952
6671    Western Metropolitan           6543     -37.815, 144.8827
6856   Northern Metropolitan           3040    -37.8177, 144.9801
6866   Northern Metropolitan           3040    -37.8154, 144.9851
6938   Northern Metropolitan           5070    -37.7158, 144.9722
7494   Southern Metropolitan           7809    -37.7939, 145.0866
8010    Eastern Metropolitan           5549    -37.7679, 145.0466
8271   Northern Metropolitan          14577    -37.7336, 145.0168
9090   Southern Metropolitan            608  -37.88385, 145.04785
9917   Southern Metropolitan          11308  -37.82679, 145.03021
10795  Northern Metropolitan          14577  -37.74936, 144.98949
10895  Southern Metropolitan           2952  -37.87149, 144.99746
11204   Western Metropolitan          14042  -37.72945, 144.79592

[34 rows x 23 columns]

In [46]:
print(melb_data[(melb_data['SellerG']=='Nelson') & (melb_data['Price']>3000000)])

       index         Suburb            Address  Rooms Type      Price Method  \
2553    2553        Fitzroy         17 Bell St      4    h  4011000.0      S
2579    2579  Fitzroy North    79 Delbridge St      4    h  3400000.0      S
6734    6734     Aberfeldie  126 The Boulevard      4    h  3900000.0      S
7695    7695  Carlton North       235 Amess St      4    h  3450000.0      S
11023  11023        Fitzroy   122 Nicholson St      4    h  3200000.0     VB

      SellerG        Date  Distance  ...  Car  Landsize  BuildingArea  \
2553   Nelson  27/11/2016       1.6  ...    2     286.0         275.0
2579   Nelson  14/05/2016       3.5  ...    1     445.0         175.0
6734   Nelson  10/12/2016       9.1  ...    4     670.0         375.0
7695   Nelson  13/05/2017       3.2  ...    1     515.0         203.0
11023  Nelson  12/08/2017       2.1  ...    0     225.0         126.0

       YearBuilt    CouncilArea  Lattitude  Longtitude             Regionname  \
2553        1890          Yarra  -37.79990   144.97550  Northern Metropolitan
2579        1890          Yarra  -37.78600   144.98640  Northern Metropolitan
6734        2010  Moonee Valley  -37.76370   144.89310   Western Metropolitan
7695        1905          Yarra  -37.78170   144.97420  Northern Metropolitan
11023       1862          Yarra  -37.80209   144.97443  Northern Metropolitan

       Propertycount           Coordinates
2553            5825    -37.7999, 144.9755
2579            6244     -37.786, 144.9864
6734            1543    -37.7637, 144.8931
7695            3106    -37.7817, 144.9742
11023           5825  -37.80209, 144.97443

[5 rows x 23 columns]

In [50]:
print(melb_data[melb_data['BuildingArea']==0]['Price'].min())

412500.0

In [58]:
lim_price=melb_data['Price']<1000000
print(melb_data[((melb_data['Rooms']>5) | (melb_data['YearBuilt']>2015))&(melb_data['Price']<1000000)]['Price'].mean())

769238.6363636364

In [59]:
print(melb_data[(melb_data['Type']=='h')&(melb_data['Price']<3000000)]['Regionname'].mode())

0    Northern Metropolitan
Name: Regionname, dtype: object

In [62]:
mask1=(melb_data['Rooms']==3)
mask2=(melb_data['BuildingArea']>100)
mask3=(melb_data['Price']<300000)
print(melb_data[(mask1|mask2)&mask3].shape[0])

68