In [1]:
import pandas as pd

NLO_data = pd.read_csv('/Users/kseniazamatina/Desktop/IDE/Pandas_start, PY_10_/data/ufo.csv', sep=',')

In [2]:
NLO_data.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [3]:
NLO_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [4]:
NLO_data.describe()

           City Colors Reported Shape Reported  State              Time
count     18216            2882          15597  18241             18241
unique     6476              27             27     52             16145
top     Seattle             RED          LIGHT     CA  11/16/1999 19:00
freq        187             780           2803   2529                27

In [5]:
NLO_data['Data']=pd.to_datetime(NLO_data['Time'], dayfirst=True)

In [9]:
NLO_data['Year']=NLO_data['Data'].dt.year

display(NLO_data['Year'].mode())

0    1999
Name: Year, dtype: int64

In [19]:
NLO_data.head()

,City,Colors Reported,Shape Reported,State,Time,Data,Year
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,1930-01-06 22:00:00,1930
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,1930-06-30 20:00:00,1930
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,1931-02-15 14:00:00,1931
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,1931-01-06 13:00:00,1931
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,1933-04-18 19:00:00,1933

In [21]:
print(NLO_data[NLO_data['State']=='NV']['Data'].diff().dt.days.mean())

68.24028268551237